---
import BaseLayout from '../layouts/BaseLayout.astro'
import TimeLineElement from '../components/cv/TimeLine.astro'

const swe2_2022 = [
  // "Drafted an agile epic (via Jira) to scope out the necessary steps to instrument a durable queue at each stage of the data pipeline",
  'Tackled the refactor of the alerting microservice (send functionality) for integrations with services like OpsGenie, PagerDuty, etc'
, 'Aided in building a fully fledged provisioning API, spurred by & intended for enterprise b2b use, which aligned with simultaneous RBAC efforts to scaffold a hierarchical organizational structure'
, 'Worked on our custom Terraform provider/plugin to add support for Slack alerting integration & aligned its resources for consistency with the views/alerts API schema + parity with CRUD operations'
]
const swe1_2020 = [
  'Fulfilled on-call developer duties by debugging culpable code, releasing hot-fixes, rolling back faulty deploys, & pushed for the adoption of a new rotation system to more evenly distribute the workload'
  , 'Advocated for the adoption of RESTful API best practices & standardization across development/documentation by instrumenting Swagger(hub) tooling in alignment with the OpenAPI specification'
  , 'Contributed to efforts involving the migration & upgrade of our system(s) from Elasticsearch version: 5.x -> 7.x entailing the refactor of numerous services/jobs to facilitate the transition from tribe nodes to cross-cluster search & account for changes in the ES API + Query DSL'
  , "Led development + documentation efforts for the feature release of our Export API v2 allowing users to export their logs as JSON; this leveraged the `search_after` parameter of Elasticsearch's API to provide native support of deep pagination functionality thru queried results"
]
const intern_2019 = [
  'Targeted monitoring/observability into backend systems via instrumentation of Prometheus clients to emit OpenMetrics'
  , 'Implemented & modularized archiving functionality to various storage providers like AWS S3, Azure Blob, IBM-COS, etc'
  , 'Initiated the introduction of AWS Marketplace SaaS Subscription Services as another one of our integrated product offerings'
]
const intern_2017 = [
  'Revamped an internal dashboard showcasing relevant sales metrics like churns, conversions, revenue breakdowns, etc'
  , "Engineered a proof of concept for lead generation leveraging Clearbit's API to grab relevant business contacts & data"
  , 'Created cron|batch jobs to automate certain tasks on a regular basis'
]
const nea_2016 = [
  'Assisted in maintaining network integrity/reliability across campus using a ticketing system (ServiceNow)'
  , 'Conducted WiFi surveys, repaired hardwired connections, installed & troubleshooted network switches, etc'
  , 'Trained in network/security fundamentals such as the TCP/IP|OSI models, SSL/TLS protocols, etc'
]
---

<BaseLayout title="Experience">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Background</div>
  </div>

  <div class="mb-10 text-justify">
    Software Engineer with ~3 years of industry experience mainly focused on
    web-based backend development involving distributed systems (k8s), message
    queues, RESTful APIs, NoSQL databases, Redis (mem)caching, Elasticsearch,
    etc
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Software Engineer II"
      subtitle="Jan 2022 - Jun 2022 @ LogDNA (n.k.a. Mezmo)"
      bullets={swe2_2022}
    />
    <TimeLineElement
      title="Software Engineer I"
      subtitle="Jan 2020 - Dec 2021 @ LogDNA (n.k.a. Mezmo)"
      bullets={swe1_2020}
    />
    <TimeLineElement
      title="Software Engineering Intern"
      subtitle="May 2019 - Aug 2019 @ LogDNA (n.k.a. Mezmo)"
      bullets={intern_2019}
    />
    <TimeLineElement
      title="Software Engineering Intern"
      subtitle="Jun 2017 - Aug 2017 @ LogDNA (n.k.a. Mezmo)"
      bullets={intern_2017}
    />
    <TimeLineElement
      title="Network Engineering Assistant"
      subtitle="Mar 2016 - May 2017 @ Student Affairs IT (UC Berkeley)"
      bullets={nea_2016}
    />
  </div>
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Bachelor of Arts in Cognitive Science (Computational Modeling Focus)"
      subtitle="2015 to 2019 @ University of California, Berkeley"
    />
    <TimeLineElement
      title="Minor in Computer Science"
      subtitle="2015 to 2019 @ University of California, Berkeley"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>JavaScript</li>
    <li>Node.js</li>
    <li>HTML/CSS</li>
    <li>Astro</li>
    <li>React</li>
    <li>Vue</li>
    <li>Java</li>
    <li>Python</li>
    <li>C(#)</li>
    <li>SQL</li>
    <li>YAML</li>
    <li>Shell (Bash)</li>
    <li>Git</li>
    <li>Unix/Linux</li>
    <li>Jenkins</li>
    <li>CircleCI</li>
    <li>MongoDB</li>
    <li>Redis</li>
    <li>Kubernetes (& Docker)</li>
    <li>Elasticsearch (& Lucene)</li>
    <li>Swagger (& OpenAPI)</li>
    <li>Prometheus (& OpenMetrics)</li>
    <li>Message Queues [Kafka, RabbitMQ, etc]</li>
    <li>Terraform (& HCL)</li>
  </ul>
</BaseLayout>
