---
import BaseLayout from '../layouts/BaseLayout.astro'
import HorizontalCard from '../components/HorizontalCard.astro'
// import { getCollection } from "astro:content";

// const posts = (await getCollection('blog')).sort(
//   (a, b) => b.data.pub_date.valueOf() - a.data.pub_date.valueOf()
// );

// const last_posts = posts.slice(0, 3);
import {LINK_UL, LINK_IT, ASTRO, GHURL, SQSPACE, CREATOR, PAYLINK, ASTROFY} from '../config.ts'
---

<BaseLayout>
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hey there 👋</div>
    <div class="text-5xl font-bold">I'm David Ly</div>
    <div class="text-3xl py-3 font-semibold">Technical Generalist</div>
    <div class="py-2">
      <text class="text-base">
        I manage this website mostly as a repository of relevant information
        pertaining to myself. It is built using{' '}
        <a class={LINK_UL} href={ASTRO}>Astro</a>, hosted on{' '}
        <a class={LINK_UL} href={GHURL}>GitHub Pages</a>, and configured under a custom domain registered via{' '}
        <a class={LINK_UL} href={SQSPACE}>Squarespace</a>. Credits to{' '}
        <a class={LINK_IT} href={CREATOR}>@manuelernestog</a> for the template which I adapted my site from, you can navigate to the project's
        GitHub page using the button below and financially support his work{' '}
        <a class={LINK_UL} href={PAYLINK}>here</a>.
      </text>
    </div>
    <div class="mt-4">
      <a href={ASTROFY} target="_blank" class="btn btn-outline ml-5">
        Get This Template
      </a>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">
      {'<'}Portfolio Projects{'/>'}
    </div>
  </div>

  <!-- <HorizontalCard
    title="Stylized Terminal-based Portfolio"
    img="/term_example.png"
    desc="Self-explanatory project inspired by and pulling from m4tt72's base project found here: https://github.com/m4tt72/terminal/tree/master"
    url="https://davidmacly.dev/terminal-portfolio"
    badge="WIP"
  /> -->
  <HorizontalCard
  title="Monitor Calibration Tool"
  img="/monitor_calibration.png"
  desc="Inspired by weekly I/O checks done in my current role as an Arcade Tech to test the gamut of a given monitor/screen's functionality. Scaffolded using v0(.dev) and further built out/integrated with help from (GitHub) Copilot & Cursor using Claude 3.7 Sonnet."
  url="/monitor-calibration"
  badge="FOSS"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="ANSI Rendered JSON Resume/CV"
    img="/ancv_example.png"
    desc="Personalized CV (Curriculum Vitae) following the JSON resume schema [jsonresume.org] and rendered based on the [github.com/alexpovel/ancv] project."
    url="https://gist.github.com/david-ly/2add5c03b85b3e07d0d2dc9172462af1"
    badge="FOSS"
  />

  <!-- <div>
      <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
    </div>

    {
      last_posts.map((post) => (
        <HorizontalCard
          title={post.data.title}
          img={post.data.hero_image}
          desc={post.data.description}
          url={"/blog/" + post.slug}
          target="_self"
        />
        <div class="divider my-0"></div>
      ))
    } -->
</BaseLayout>
