---
import type {BlogSchema} from '../content/config'
import BaseLayout from './BaseLayout.astro'

// export interface Props extends BlogSchema {}
export type Props = BlogSchema

const {title, description, pub_date, updated_date, hero_img} = Astro.props
const display_date = formatDate(pub_date)

function formatDate(date: Date) {
  if (!date) return '';
  return new Intl.DateTimeFormat('en', {
    year: 'numeric',
    month: 'short',
    day: 'numeric'
  }).format(new Date(date));
}
---

<BaseLayout title={title} description={description} image={hero_img}>
  <main class="md:flex md:justify-center w-full">
    <article class="prose prose-lg prose-img:mx-auto md:max-w-3xl lg:max-w-4xl xl:max-w-5xl">
      {hero_img && <img src={hero_img} alt={title} class="w-full mb-6" />}
      <h1 class="title my-2 text-4xl font-bold">{title}</h1>
      {pub_date && <time>{display_date}</time>}
      {
        updated_date && (
          <div>
            {' '}
            Last updated on <time>{updated_date}</time>{' '}
          </div>
        )
      }
      <div class="divider my-2"></div>
      <slot />
    </article>
  </main>
</BaseLayout>
